.content {
  margin-left: 150px;

  .content-wrapper {
    max-width: 1510px;
    padding: 0 129px;

    .content-img,
    .content-heading {
      text-align: center;
    }

    .content-img {
      margin: 1.6rem 0 2.8rem;
    }

    .content-heading {
      background: #efefef;
      /* // margin: 1.875rem 8.063rem 0; */
      /* height: 13.125rem; */
      padding: 4rem 0rem;

      h2 {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 1.6rem;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          width: 86%;
          word-spacing: -0.05rem;
        }
      }
    }

    .content-box {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .box {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        h2 {
          margin-bottom: 2rem;
        }

        .paragraph {
          display: flex;
          .first-para {
            /* width: 326px; */
            margin-left: 16px;
          }
        }
      }
    }
  }
}
