* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background-color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1; */
  ul {
    li {
      list-style: none;
      border-bottom: 1px solid #5c5c5c;
      padding: 14px 0 11px 16px;

      a {
        text-decoration: none;
        color: #aaaaaa;
      }
    }

    li:hover {
      background-color: #5c5c5c;
      a {
        color: #fff;
      }
    }
  }
}
