* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  border: 1px solid #dedede;
  border-right: none;
  margin-left: 15rem;
  padding: 3rem 0 3rem 13rem;
  font-size: 1.6rem;
  color: #3e3e3e;
}
